/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    
    outdir = null
    input = null
    quality_scores = null
    flye_modes = null
    
}