/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    
    outdir = "results"
    input = "${projectDir}/tests/data/test_samplesheet.csv"
    quality_scores = "13,15"
    flye_modes = "nano-corr,nano-hq"

}