/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // DYNAMIC_MODULES_CONFIG_STARTS
    withName: COPYFASTQ {
        ext.args = { "${meta.additional_options ?: ''} ${meta.qc_option ?: ''} ${meta.qc_val ?: ''}" }
        ext.prefix = { "${meta.id}_${meta.qc_tool}_${meta.qc_option?.replaceFirst('^-+', '') ?: ''}_${meta.qc_val}" }
    }

    withName: CHOPPER {
        ext.args2 = { "${meta.additional_options ?: ''} ${meta.qc_option ?: ''} ${meta.qc_val ?: ''}" }
        ext.prefix = { "${meta.id}_${meta.qc_tool}_${meta.qc_option?.replaceFirst('^-+', '') ?: ''}_${meta.qc_val}" }
    }

    withName: PRINSEQPLUSPLUS {
        ext.args = { "${meta.additional_options ?: ''} ${meta.qc_option ?: ''} ${meta.qc_val ?: ''}" }
        ext.prefix = { "${meta.id}_${meta.qc_tool}_${meta.qc_option?.replaceFirst('^-+', '') ?: ''}_${meta.qc_val}" }
    }

    withName: NANOFILT {
        ext.args = { "${meta.additional_options ?: ''} ${meta.qc_option ?: ''} ${meta.qc_val ?: ''}" }
        ext.prefix = { "${meta.id}_${meta.qc_tool}_${meta.qc_option?.replaceFirst('^-+', '') ?: ''}_${meta.qc_val}" }
    }


    // DYNAMIC_MODULES_CONFIG_ENDS

    withName: FLYE {
        ext.args = { params.flye_genome_size ? "-g ${params.flye_genome_size}" : '' }
        ext.prefix = { "${meta.id}_${meta.qc_tool}_${meta.qc_option?.replaceFirst('^-+', '') ?: ''}_${meta.qc_val}_${meta.mode}" }
    }

}
